@font-face {
    font-family: 'Raleway_Black';
    src: url('/raleway_font/Raleway-Black.ttf');
}
@font-face {
    font-family: 'Raleway_Light';
    src: url('/raleway_font/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway_Bold';
    src: url('/raleway_font/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Raleway_Regular';
    src: url('/raleway_font/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway_Medium';
    src: url('/raleway_font/Raleway-Medium.ttf');
}
body {
    margin: 44px;
}
p{
    font-family: 'Raleway_Light';
    font-size: 12px;
}
h1{
    font-size: x-large;
    font-weight:900; 
}
h2{
    font-size: large;
    font-weight: bold;
}
h3{
    font-size: large;
    font-weight: bold;
}
h4{
    font-family: 'Raleway_Bold';
    font-size: 14px;
    margin:8px 0px 8px 0px;
}
.price{
    margin:8px 0px 8px 0px;
}
#navigation_bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content:center;
}
#navigation_tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
#focus_action{
    padding: 16px;
    color: #0065FC;
}
#anchor_action{
    padding: 16px;
}
#primary_action{
    padding: 16px;
    color: #0065FC;
    font-weight: bold;
}
#filters{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#filter_chip{
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 80px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#round_icon{
    color: #0065FC;
    padding: 10px 10px;
    background:#DEEBFF;
    border-radius: 50%;
}
#info_icon{
    color: #0065FC;
    padding: 5px 10px;
    background: white;
    border-radius: 50%;
    border: 1px solid;
    border-color: #F2F2F2
}
#section_hebergements{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
#section_marseille{
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 20px;
}
.figure_img_top{
    border-radius: 25px;
    background-color: white;
    padding: 4px;
    box-shadow: 8px 8px 10px 0px #F2F2F2;
    max-width: 230px;
    height: 204px;
    margin: 16px;
}
#img_hebergement{
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit:cover;
    max-height:60%;
    border-radius: 20px 20px 0px 0px;
}
.img_resize{
    max-width: 100%;
}
figcaption{
    padding-bottom: 8px;
}
#liste_marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#section_populaire{
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 20px;
}
.figure_img_left{
    border-radius: 25px;
    background-color: white;
    padding: 4px;
    box-shadow: 8px 8px 10px 0px #F2F2F2;
    display: flex;
    flex-direction: row;
    max-width: 310px;
    max-height: 130px;
    margin: 24px;
}
#liste_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#img_populaire{
    overflow: hidden;
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px 0px 0px 20px;
}
#active_star{
    color: #0065FC;
}
#unactive_star{
    color: #F2F2F2;
}
footer{
    display: flex;
}
