@font-face {
    font-family: 'Raleway';
    src: url('raleway.ttf');
}
body {
    font-family:"Raleway";

}
h1{
    font-size: larger;
    font-weight:bold
}
h2{
    font-size: large;
    font-weight: bold;
}
h3{
    font-size: large;
    font-weight: bold;
}
h4{
    font-size: medium;
    font-weight: bold;
}
figure{
    border-radius: 25px;
    background-color: white;
    box-shadow: slategray;
}
#img_hebergement{
    overflow: hidden;
    object-fit: contain;
    max-width: 300px;
    max-height: 150px;
    border-radius: 20px 20px 0px 0px;
}
#liste_hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer{
    display: flex;
}
