body {
    max-width: 1215px;
    margin: 0px 32px;
    font-family: 'Raleway_Regular';
}
h1{
    font-family: 'Raleway_Medium';
    font-size: 26px;
}
.logo{
    width: 80%;
}
.anchor_tabs{
    justify-content: flex-end;
    align-items: center;
}
.focus_action{
    border-top: #0065FC 2px solid;
    padding: 24px;
}
.primary_action{
    padding: 24px;
}
.anchor_action{
    padding: 24px;
}
#search{
    border-radius: 10px;
}
#square_icon{
    border-radius: 8px 0px 0px 8px;
}
#button{
    border-radius: 0px 10px 10px 0px;
}
#option_display_mobile{
    display: none;
}
#filters{
    flex-direction: row;
    align-items: center;
}
#filter_chip{
    margin: 8px;
}
#info_icon{
    width: 32px;
    height: 32px;
}
.info_note{
    align-items: center; 
}
#section_hebergements{
    justify-content:space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}
#section_marseille{
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 20px;
    margin-right: 24px;
}
#liste_marseille{
    flex-direction: row;
}
.figure_img_top{
    width: 47%;
    margin: 16px 0px 16px 0px;
}
#section_populaire{
    padding: 24px;
    border-radius: 20px;
    width: 200%;
}
.figure_img_left{
    margin: 16px 0px 16px 0px;
    height: 115px;
    max-width: 100%;
}
#liste_activites{
    flex-direction: row;
    justify-content: space-between;
    height: 460px;
    margin-top: 32px;
}
.img_resize_horizontal{
    max-height: 100%;
}
.img_resize_vertical{
    max-width: 100%;
}
.figure_big{
    width: 25%;
    height: 100%;
    margin: 0px 16px 0px 0px;
}
#img_big{
    align-items: flex-start;
    height: 86%;
}
#column_1{
    margin: 0px 16px 0px 0px;
    width: 25%;
}
#column_2{
    width: 25%;
}
.figure_medium{
    max-width: 350px;
    height: 264px;
    margin: 0px;
}
#img_medium{
    height: 82%;
}
.figure_small{
    max-width: 350px;
    height: 165px;
    margin: 0px;
}
footer{
    flex-direction: row;
    margin-top: 40px;
    margin-left: -32px;
    margin-right: -32Px;

}
.footer_column{
    margin: 32px;
    width: 30%;
}
