@media screen and (min-width: 768px) and (max-width: 991px) 
/* Tablet = Above 768px*/
{
    body {
        margin: 0px 32px;
        font-family: 'Raleway_Regular';
        max-width: 927px;
    }
    h1{
        font-family: 'Raleway_Medium';
        font-size: 26px;
        margin-bottom: 16px;
    }
    #navigation_bar{
        flex-wrap: wrap;
        margin-left: -32px;
        margin-right: -32px;
    }
    .logo{
        order: -2;
        width: 50%;
        margin-left: 32px;
    }
    .anchor_tabs{
        order: 1;
        width: 100%;
        justify-content: space-between;
    }
    .focus_action{
        border-bottom: rgba(202, 202, 202, .5) 3px solid;
        width: 50%;
        text-align: center;
        padding: 8px;
    }
    .focus_action:hover{
        border-bottom: #0065FC 3px solid;
        color: #0065FC;
    }
    .primary_action{
        order: -1;
        margin-right: 32px;
        padding: 16px;
    }
    #search{
        border-radius: 10px;
    }
    #square_icon{
        border-radius: 8px 0px 0px 8px;
    }
    #button{
        border-radius: 0px 10px 10px 0px;
    }
    #option_display_mobile{
        display: none;
    }
    #filters{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .filter_chip{
        margin: 0px 8px 16px 0px;
    }
    #info_icon{
        width: 32px;
        height: 32px;
    }
    .info_note{
        align-items: center; 
    }
    #section_hebergements{
        flex-direction: column-reverse;
        margin-bottom: 64px;
        margin-top: 32px;
    }
    #section_marseille{
        background-color:white;
        padding: 0px;
        margin-right: 0px;
    }
    #liste_marseille{
        flex-direction: row;
    }
    .figure_img_top{
        max-width: 46%;
        margin: 8px 0px;
    }
    #section_populaire{
        padding: 24px 32px;
        width: 100%;
        margin-left: -32px;
        margin-right: -32px;
        margin-bottom: 24px;
    }
    #title_populaires{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    #liste_populaires{
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 0px;
        width: 100%;
    }
    .figure_img_left{
        margin: 8px 16px 8px 0px;
        height: 115px;
    }
    .card_pop{
        width: 50%;
    }
    .img_resize_left{
        max-height: 100%;
    }
    .stars{
        justify-self: end;
    }
    .active_star{
        color: #0065FC;
        font-size: 12px;
    }
    .unactive_star{
        color: #F2F2F2; 
        font-size: 12px;
    }
    #liste_activites{
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 24px;
    }
    #activities_column1{
        flex-direction: row;
        width: 100%;
    }
    #activities_column2{
        flex-direction: row-reverse;
        width: 100%;
    }
    .img_resize_horizontal{
        max-width: 100%;
    }
    .img_resize_vertical{
        max-width: 100%;
    }
    .figure_big{
        width: 100%;
        height: 230px;
        margin: 0px 0px 24px 0px;
    }
    .img_big{
        align-items: center;
        height: 80%;
    }
    .figure_medium{
        width: 48%;
        height: 230px;
        margin: 0px 24px 24px 0px;
    }
    .img_medium{
        align-items: center;
        height: 80%;
    }
    .figure_small{
        width: 48%;
        height: 230px;
        margin: 0px 0px 24px 0px;
    }
    .img_small{
        align-items: flex-start;
        height: 80%;
    }
    .img_resize_small{
        max-width: 100%;
    }
    footer{
        flex-direction: row;
        margin-top: 40px;
        margin-left: -32px;
        margin-right: -32Px;
    }
    .footer_column{
        margin: 24px 16px 24px 32px;
        width: 30%;
    }
}


